In [3]:
import pandas as pd 
from functools import reduce 

%matplotlib inline
import glob
import os.path

### Function that will take in any number of CSVs for metadata for an experiment

In [4]:
def make_metadata(path_to_plates, well_type, path_to_data, date):
    ## function that take in formatted csv plates maps from 96 well of 384 well plates and returns metatdata dataframe
    ## path_to_plates = absolute path to csvs for your plate layout 
    ## well_type= well_id_96 or well_id_384
    ## date=date of creating metadata 
    all_csv=glob.glob("{}/*.csv".format(path_to_plates)) #import all plate maps 
    
    dict_of_dfs={}

    for file in all_csv:
        file_name=os.path.splitext(os.path.basename(file))[0] # split based on extension
        df=pd.read_csv(file)
        dict_of_dfs[file_name]=df
    
    def remove_cols(df):
    ### define a function that will drop unwanted columns from your df along the column axis
        cols_to_drop = ['row_letter', 'col_num'] 
        removed_cols = df.drop(cols_to_drop, axis=1)
        return removed_cols

    tidy_files={} ## set and empty dictionary to which we will add key value pairs, your file name and the long format of a given 96 well plate
    
    for file_name, data_frame in dict_of_dfs.items():
        df=pd.melt(data_frame, id_vars="row_letter", var_name="col_num", value_name=file_name) # turn 96 well format into long format, returning a df with a list of values for each well in your 96 well plate.  
        df[well_type]=df["row_letter"] + df["col_num"] # make a new column to combine row letter with col number. 
        tidy_files[file_name]= remove_cols(df) # pass the df into the remove cols function to remove col for row letter and col number and add to dictionary with asoociated file name. 

    dfs=list(tidy_files.values()) # create list of tidy dataframes
    dfs_merged=reduce(lambda left,right: pd.merge(left,right, on=well_type), dfs) # merge all dataframes together on well_id
    dfs_merged.to_csv("{a}/{b}_metadata.csv".format(a=path_to_data, b=date))
    
    return dfs_merged

dataframes=make_metadata(path_to_plates="/Users/giana.cirolia/Desktop/Nucleofection_Pipelne_Code/plate_csv", well_type="well_id_96", path_to_data="/Users/giana.cirolia/Desktop/Nucleofection_Pipelne_Code/returned_data", date="20180529")

dataframes

,cell_number,well_id_96,experimental_or_control,nuclease,nucleofection_buffer
0,1000000,A1,exp,spCas9,P1
1,1000000,B1,exp,spCas9,P1
2,1000000,C1,exp,spCas9,P1
3,1000000,D1,exp,spCas9,P1
4,1000000,E1,exp,spCas9,P1
5,1000000,F1,exp,spCas9,P1
6,1000000,G1,exp,spCas9,P1
7,1000000,H1,exp,spCas9,P1
8,1000000,A2,exp,spCas9,P1
9,1000000,B2,exp,spCas9,P1
10,1000000,C2,exp,spCas9,P1
11,1000000,D2,exp,spCas9,P1
12,1000000,E2,exp,spCas9,P1
13,1000000,F2,exp,spCas9,P1
14,1000000,G2,exp,spCas9,P1
15,1000000,H2,exp,spCas9,P1
16,1000000,A3,exp,spCas9,P1
17,1000000,B3,exp,spCas9,P1
18,1000000,C3,exp,spCas9,P1
19,1000000,D3,exp,spCas9,P1
20,1000000,E3,exp,spCas9,P1
21,1000000,F3,exp,spCas9,P1
22,1000000,G3,exp,spCas9,P1
23,1000000,H3,exp,spCas9,P1
24,1000000,A4,exp,spCas9,P1
25,1000000,B4,exp,spCas9,P1
26,1000000,C4,exp,spCas9,P1
27,1000000,D4,exp,spCas9,P1
28,1000000,E4,exp,spCas9,P1
29,1000000,F4,exp,spCas9,P1
...,...,...,...,...,...
66,1000000,C9,exp,spCas9,P3
67,1000000,D9,exp,spCas9,P3
68,1000000,E9,exp,spCas9,P3
69,1000000,F9,exp,spCas9,P3
70,1000000,G9,exp,spCas9,P3
71,1000000,H9,exp,spCas9,P3
72,1000000,A10,exp,spCas9,P3
73,1000000,B10,exp,spCas9,P3
74,1000000,C10,exp,spCas9,P3
75,1000000,D10,exp,spCas9,P3
76,1000000,E10,exp,spCas9,P3
77,1000000,F10,exp,spCas9,P3
78,1000000,G10,exp,spCas9,P3
79,1000000,H10,exp,spCas9,P3
80,1000000,A11,exp,spCas9,P3
81,1000000,B11,exp,spCas9,P3
82,1000000,C11,exp,spCas9,P3
83,1000000,D11,exp,spCas9,P3
84,1000000,E11,exp,spCas9,P3
85,1000000,F11,exp,spCas9,P3
86,1000000,G11,exp,spCas9,P3
87,1000000,H11,exp,spCas9,P3
88,1000000,A12,exp,spCas9,P3
89,1000000,B12,exp,spCas9,P3
90,1000000,C12,exp,spCas9,P3
91,1000000,D12,exp,spCas9,P3
92,1000000,E12,exp,spCas9,P3
93,1000000,F12,exp,spCas9,P3
94,1000000,G12,exp,spCas9,P3
95,1000000,H12,cntrl,spCas9,P3

### Convert your work to a python script. 

`! jupyter nbconvert --to script [yournotebookname].ipynb`

In [2]:
! jupyter nbconvert --to script 20180601_Giana_Aaron_labmate_96totidy_plateconversions.ipynb

[NbConvertApp] Converting notebook 20180601_Giana_Aaron_labmate_96totidy_plateconversions.ipynb to script
[NbConvertApp] Writing 2540 bytes to 20180601_Giana_Aaron_labmate_96totidy_plateconversions.py